@media only screen and (max-width: 768px) {
  /* For tablets: */
  .favorites-lists {
    display: none;
  }

  .responsive-lists {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  /* For tablets: */
  .favorites-lists {
    display: block;
  }

  .responsive-lists {
    display: none;
  }
}

.nav-custom {
  background-color: #000 !important;
}

#compact-form {
  padding-bottom: 0px;
}
#compact-form .form-buku-init {
  margin: 0px;
}
#compact-form .btn {
  padding: 2px 11px;
}
#compact-form #pesanan-buku {
  padding-bottom: 0px;
}
#compact-form #pesanan-buku .box-primary {
  margin-bottom: 0px;
}
#compact-form #list-buku {
  width: 100%;
}
#compact-form #rencana-pelunasan {
  height: 130px;
  font-size: 12px;
  overflow: auto;
}
#compact-form #pesanan-buku .box-body {
  min-height: 150px;
  height: 186px;
  font-size: 12px;
  overflow: auto;
}
#compact-form #rencana-pelunasan th {
  
  vertical-align: middle;
}
#compact-form #rencana-pelunasan tr td input{
  min-width: 27px;
  width: 27px;
}
#compact-form #rencana-pelunasan tr td #inpt-setor {
  width: 84px;
}
#compact-form .no-padding {
  padding: 0px;
}
#compact-form .xs-padding-side {
  
  padding-left: 5px;
  padding-right: 5px;
}
#compact-form .box-header {
  padding: 4px 10px;
}
#compact-form .col-xs-6 .no-padding-side, .no-padding-side {
  padding-left: 0px;
  padding-right: 0px;
}
#compact-form .form-group label.control-label {
  padding-right: 0px;
}
#compact-form .form-horizontal .form-group {
  margin-bottom: 0px;
}
#compact-form .form-horizontal .control-label {
  font-size: 12px;
  padding-top: 4px;
}
#compact-form .help-block {
  margin-bottom: 5px;
}

#compact-form .form-control, #btn-add {
  padding: 0px 12px;
  height: 19px;
}
#compact-form .select2-selection__rendered {
  line-height: 19px !important;
}
#compact-form .select2-container .select2-selection--single {
  min-height: 19px !important;
}
#compact-form .select2-selection__arrow {
  min-height: 19px !important;
}
.select2-container .select2-selection--single {
  height: 23px;
}
#compact-form #rencana-pelunasan th, #rencana-pelunasan td {
  padding: 3px 0px;
  text-align: center;
}
#compact-form .content-header {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
#compact-form .main-box {
  padding-left: 0px;
  padding-right: 0px;
}

#compact-form>.row>div {
  padding-left: 3px ; 
  padding-right: 3px ;
}
#compact-form>.row>div:last-child {
  padding-left: 6px ; 
  padding-right: 10px ;
}
#compact-form>.row>div:first-child {
  padding-right: 6px ;
  padding-left: 10px ; 
}

